.article_item {
  margin: 0 auto 77px;
  max-width: 1046px;
  display: flex;
  overflow: hidden;
}

.article_item img {
  width: 555px;
  height: 312px;
  margin-right: 42px;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  cursor: pointer;
}

.article_item img:hover {
  transform: scale(1.05);
  filter: brightness(1.1) saturate(1.1);
}

.post_info {
  flex-direction: column;
  width: 449px;
  height: 312px;
}

.articleCategoryBadge {
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
  display: inline-block;
  background-color: rgb(176, 177, 180);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -1.08px;
  padding: 4px 19px;
  margin-bottom: 5px;
  user-select: none;
}

.postInfoTitle {
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
  display: block;
  color: rgb(48, 48, 48);
  font-size: 28px;
  line-height: 37px;
  letter-spacing: -1.68px;
  margin-bottom: 17px;
  word-break: keep-all;
  cursor: pointer;
}

.postInfoDescription {
  font-family: "Noto Sans KR", AppleGothic, Dotum, sans-serif;
  color: rgb(48, 48, 48);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -1.08px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  line-clamp: 4;
  -webkit-line-clamp: 4;
}

.postInfoMoreButton {
  display: inline-block;
  color: rgb(48, 48, 48);
  font-size: 18px;
  letter-spacing: -1.08px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .article_item {
    margin: 0 auto 77px;
    max-width: 820px;
  }

  .article_item img {
    width: 100%;
    max-width: 427.91px;
    height: 260px;
    margin-right: 42px;
  }

  .post_info {
    flex-direction: column;
    width: 449px;
    height: 100%;
    max-height: 260px;
  }

  .articleCategoryBadge {
    font-size: 16px;
  }

  .postInfoTitle {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 12px;
    margin-block-end: 12px;
  }

  .postInfoDescription {
    font-size: 16px;
    line-height: 26px;
  }

  .postInfoMoreButton {
    font-size: 16px;
  }
}
