.footer {
  width: 100%;
  background-color: #f6f7f8;
}

.footerObject {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0px 29px 0px;
}

.footerSNSLinkSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 20px;
}

.footerSNSLinkSection img {
  width: 37px;
  height: 37px;
  margin: 0 15px;
}

.footerDailyFundingLinkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 22px;
  flex-wrap: wrap;
}

.footerDailyFundingLinkSection p, em {
  display: block;
  color: #666666;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.36px;
  margin: 0 5px 0 0;
}

.footerCopyrightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footerCopyrightSection p {
  display: block;
  color: #656565;
  font-weight: 300;
  letter-spacing: -0.36px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footerObject {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 26px 53px;
  }

  .footerSNSLinkSection {
    padding: 0px 0px 27px;
  }

  .footerDailyFundingLinkSection {
    flex-direction: row;
  }

  .footerDailyFundingLinkSection p {
    font-size: 15px;
    line-height: 28px;
  }

  .footerDailyFundingLinkSection em {
    font-size: 15px;
    line-height: 28px;
    margin: 0 0 0 0px;
  }

  .footerCopyrightSection {
    flex-direction: row;
  }

  .footerCopyrightSection p {
    letter-spacing: -0.36px;
    line-height: 22px;
    font-size: 12px;
  }
}
