.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 10;
}

.headerObject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 41px 0px 31px;
}

.headerDailyInsightLogo {
  width: 237px;
  height: 38px;
}

.headerBackButton {
  width: 20px;
  height: 37px;
}

.headerDailyFundingLink {
  display: flex;
  align-items: center;
  gap: 6px;
}

.headerDailyFundingLink span {
  font-size: 18px;
  letter-spacing: -1.08px;
  font-weight: 500;
  color: #ffffff;
}

.headerLinkSymbol {
  width: 29px;
  height: 29px;
}

.headerCancelButton {
  width: 37px;
  height: 37px;
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }

  .headerObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 41px 0px 31px;
  }

  .headerDailyInsightLogo {
    width: 212px;
    height: 34px;
  }

  .headerDailyFundingLink {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .headerDailyFundingLink span {
    font-size: 16px;
  }

  .headerLinkSymbol {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .headerObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 41px 0px 31px;
  }

  .headerDailyInsightLogo {
    width: 143px;
    height: 23px;
  }

  .headerDailyFundingLink {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .headerBackButton {
    width: 15px;
    height: 29px;
  }

  .headerDailyFundingLink span {
    font-size: 12px;
  }

  .headerLinkSymbol {
    width: 16px;
    height: 16px;
  }

  .headerCancelButton {
    width: 29px;
    height: 29px;
  }
}

@media (max-width: 414px) {
  .headerObject {
    padding: 27px 26px;
  }
}
