.header {
  width: 100%;
}

.headerObject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 41px 0px 31px;
}

.dailyInsightLogo {
  width: 237px;
  height: 38px;
}

.dailyFundingLink {
  display: flex;
  align-items: center;
  gap: 6px;
}

.dailyFundingLink span {
  font-size: 18px;
}

.linkSymbol {
  height: 29px;
}

@media (max-width: 1200px) {
  .header {
    width: 100%;
  }

  .headerObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 41px 0px 31px;
  }

  .dailyInsightLogo {
    width: 212px;
    height: 34px;
  }

  .dailyFundingLink {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .dailyFundingLink span {
    font-size: 16px;
  }

  .linkSymbol {
    height: 25px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }

  .headerObject {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 41px 0px 31px;
  }

  .dailyInsightLogo {
    width: 143px;
    height: 23px;
  }

  .dailyFundingLink {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .dailyFundingLink span {
    font-size: 12;
  }

  .linkSymbol {
    height: 16px;
  }
}
