.topCarousel {
  position: relative;
  width: 100%;
  height: 814px;
  overflow: hidden;
}
.topCarouselSlide::after {
  z-index: 1;
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.topCarousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.topCarouselTrack {
  z-index: 2;
  position: relative;
  display: flex;
  height: 100%;
}

.topCarouselSlide {
  position: relative;
  min-width: 100%;
  height: 100%;
}

.topCarouselTextSection {
  z-index: 2;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-20px);
}

.topCarouselIndicator {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.topCarouselIndicator button.active {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  opacity: 0.8;
  margin: 0px 8px;
}

.topCarouselIndicator button.none {
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  opacity: 0.3;
  margin: 0px 8px;
}
